* {
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#box {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

.sub-box {
    height: 50%;
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    /* background-color: #5a2d2d; */
}

#top-box {
    padding: 0 3vw;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1524252500348-1bb07b83f3be?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 50% 60%;
}

#top-box #top-main {
    top: 70%;
    left: 50%;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: space-between;
    transform: translate(-50%, -50%);
}

#top-main h1 {
    height: 100%;
    font-size: 100px;
    font-weight: 500;
}

#top-main .top-sub-box {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #c46161; */
}

#top-icon-box {
    gap: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: black; */
}

#top-icon-box i {
    font-size: 2vw;
}

.top-sub-box h5 {
    font-size: 1.2vw;
    font-weight: 600;
}

.sub-box .bottom-box {
    width: 25%;
    height: 100%;
}

#fbox {
    padding: 3vw;

}

#fbox>h1 {
    top: 20%;
    color: #000;
    margin-bottom: 1vw;
}

#fbox>h5 {
    top: 25%;
    color: #000;
    font-size: 1.2vw;
}

.bottom-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#third-bottom-box>div {
    height: 50%;
    width: 100%;
    background-color: orangered;
}
#third-bottom-box> #t-top{
    padding: 2.5vw;

}
#third-bottom-box> #t-top h5{
    margin-top: 1vw;
    font-size: 1.2vw;
}
#fourth-bottom-box{
    color: white;
   background-color:#3D3D3D; 
}
#fourth-bottom-box h1{
    padding:  1.5vw 1.5vw 0 1.5vw;
}
#fourth-bottom-box>div{
    height: 5vw;
    width: 100%;
    display: flex;
    padding: 0 1.5vw;
    margin: 2vw 0;
    align-items: center;
     /* background-color: #fff; */
     justify-content: space-around;
}
#fourth-bottom-box>div .img{
    width: 5vw;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c53838;
}
#fourth-bottom-box>div .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#fourth-bottom-box>div h5{
    margin-left: 1vw;
    top: 20%;
    width: 70%;
    height: 100%;
    font-size: 1vw;
    
}