* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 90px 80px 30px 80px;
    gap: 70px;
}

#left {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left h1 {
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;

}

#bottom-left {
    height: 50%;
    width: 100%;
}

#color {
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    border: 1px solid black;
    margin: 70px 0px 40px 0px;
}

#color h5 {
    font-size: 20px;
    font-weight: 500;
}

#color #color1,
#color2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: burlywood;
}

#color2 {
    background-color: saddlebrown;
}

#bottom-left h2 {
    margin-bottom: 25px;
}

#bottom-left p {
    width: 80%;
    color: #444;
    font-size: 20px;
    line-height: 26px;
}

#right {
    height: 100%;
    width: 30%;
    position: relative;
}

#right-top {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

#right-top h5 {
    font-size: 20px;
    padding-right: 10px;
}

#right-bottom {
    height: 98%;
    width: 100%;
}

#right-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#black-box {
    top: 150px;
    right: -70px;
    height: 130px;
    width: 130px;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 24, 40);
}

#rotate-word {
    width: 80%;
    left: -45px;
    height: 40px;
    bottom: -50px;
    rotate: -90deg;
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    transform-origin: 0 0;
}