* {
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0 3vw;
    align-items: center;
    justify-content: space-between;
}

#rnav {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-weight: 600;
}

main>h1 {
    width: 70%;
    font-size: 150px;
    margin-left: 10%;
    font-weight: 500;
    line-height: 140px;
    z-index: 1;
    /* background-color: orange; */
}

main h1:nth-child(2) {
    margin-top: 100px;
}

main h1:nth-child(3) {
    width: 60%;
    text-align: center;
}

main h1:nth-child(4) {
    width: 50%;
    left: 15%;
    text-align: center;
}
 main img{
    position: absolute;
    height: 400px;
    width: 300px;
    object-fit: cover;
    top: 10%;
    left: 50%;
    rotate: -20deg;
    transform: translate(-60%,0);
    /* z-index: 100; */
}
#img1{
    top: 20%;
    rotate: 10deg;
}
#img2{
    rotate: -5deg;
}
footer{
    margin-top: 20px;
    display: flex;
    /* background-color: #6f4040; */
    gap: 30vw;
    align-items: center;
    /* height: 70px; */
    /* bottom: 0; */
    padding: 0 3vw;
}