* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 100%;
    background-image: url(https://uniofeduford.netlify.app/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page1>article {
    width: 100%;
    height: 100%;
    padding: 2vw 5vw 0vw 5vw;
    background-color: rgba(0, 0, 0, 0.573);
}

#page1>article nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}

nav img {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

nav aside {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav aside a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
}

#page1>article>aside {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(68, 116, 159); */
    transform: translate(-50%, -40%);
}

#page1>article>aside h1 {
    font-size: 5vw;
    color: white;
    text-align: center;
}

#page1>article>aside p {
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

#page1>article>aside>button {
    font-size: 1.5;
    color: white;
    padding: 1vw 2vw;
    border: 3px solid white;
    background-color: transparent;
}

#page1>article>aside>button:hover {
    border: none;
    transition: 2s all ease;
    background-color: #6495ED;
    border: 3px solid #6495ED;
}

#page2 {
    width: 100%;
    height: 115%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw 13vw 0vw 13vw;
    justify-content: space-around;
    background-color: #FFFfFf;
}

#page2 #container1 {
    height: 18%;
    display: flex;
    padding: 1vw 0;
    text-align: center;
    flex-direction: column;
    background-color: #FFFfFf;
    justify-content: space-between;
}

#page2 #container1 p {
    color: #777777;
}

#page2 #container2 {
    height: 59%;
    display: flex;
    text-align: center;
    /* background-color: yellow; */
    justify-content: space-between;
}

#page2 #container2>aside {
    width: 31%;
    height: 100%;
    display: flex;
    padding: 1.5vw;
    border-radius: 25px;
    flex-direction: column;
    background-color: #FFF3F3;
    justify-content: space-around;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

#page2 #container2>aside:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

#page2 #container2>aside h3 {
    font-size: 1.8vw;
}

#page2 #container2>aside p {
    font-size: 1.4vw;
    color: #777777;
    line-height: 1.6vw;
}

#page3 {
    height: 120%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 10vw 0vw 10vw;
    /* background-color: yellow; */
    justify-content: space-around;
}

#page3 #page3-container1 {
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: honeydew; */
}

#page3-container1 h1 {
    font-size: 3vw;
}

#page3-container1 p {
    color: #777777;
    font-size: 1.4vw;
    line-height: 1.6vw;
    text-align: center;
}

#page3 #page3-container2 {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    /* background-color: #CFB7BF; */
}

#page3 #page3-container2 aside {
    width: 31%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    background-color: palegreen;
}

#page3 #page3-container2 aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3 #page3-container2 aside h1 {
    bottom: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.7s all ease;
    background-color: #cfb7bf56;
}

#page3 #page3-container2 aside:hover h1 {
    bottom: 100%;
    transition: .5s all ease;
}

#page4 {
    height: 130%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 10vw 0vw 10vw;
    /* background-color: yellow; */
    justify-content: space-around;
}

#page4 #page4-container1 {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #6495ED; */

}

#page4 #page4-container1 h1 {
    font-size: 3vw;
}

#page4 #page4-container1 p {
    font-size: 1.3vw;
    line-height: 1.6vw;
}

#page4 #page4-container2 {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #6495ED; */
    justify-content: space-between;
}

#page4 #page4-container2 aside {
    width: 31%;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    /* background-color: tomato; */
    justify-content: space-between;
}

#page4 #page4-container2 aside>div {
    height: 40%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#page4 #page4-container2 aside>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page4 #page4-container2 aside h3 {
    font-size: 2vw;
}

#page4 #page4-container2 aside p {
    text-align: left;
    color: #777777;
    font-size: 1.4vw;
    line-height: 1.6vw;
}

#page5 {
    height: 90%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 10vw 0vw 10vw;
    /* background-color: yellow; */
    justify-content: space-around;
}

#page5 #page5-container1 {
    height: 20%;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* background-color: #6495ED; */
    justify-content: space-around;
}

#page5 p {
    color: #777777;
    font-size: 1.3vw;
    line-height: 1.6vw;
}

#page5 #page5-container1 h1 {
    font-size: 3vw;
}

#page5 #page5-container2 {
    height: 50%;
    width: 100%;
    display: flex;
    text-align: center;
    /* flex-direction: column; */
    justify-content: space-between;
}

#page5 #page5-container2 aside {
    width: 48%;
    padding: 2vw;
    height: 100%;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    background-color: #FFF3F3;
    /* background-color: violet; */
    justify-content: space-between;
}

#page5 #page5-container2 aside .image-container {
    width: 30%;
    height: 100%;
    padding: 1vw 0;
    /* background-color: tomato; */
}

#page5 #page5-container2 aside .image-container img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 50%;
}

#page5 #page5-container2 aside .element-container {
    width: 70%;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: springgreen; */
}

#page5 #page5-container2 aside .element-container h3 {
    font-size: 2vw;
}

#page6 {
    height: 90%;
    width: 100%;
    /* background-color: yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#page6 article {
    height: 85%;
    width: 100%;
}

#page6 article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page6 article aside {
    top: -101%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.459);
}

#page6 article aside div {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: violet; */
    justify-content: space-around;
}

#page6 article aside div h1 {
    font-size: 3vw;
    color: white;
}

#page6>article>aside>div button {
    font-size: 1.5;
    color: white;
    padding: 1vw 2vw;
    border: 3px solid white;
    background-color: transparent;
}

#page6>article>aside>div button:hover {
    border: none;
    transition: 1.5s all ease;
    background-color: #6495ED;
    border: 3px solid #6495ED;
}

main footer {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw 10vw 0vw 10vw;
    text-align: center;
    /* background-color: #6495ED; */
    justify-content: space-around;
}

main footer h4 {
    font-size: 2vw;
}

main footer p {
    color: #777777;
    font-size: 1.3vw;
    line-height: 1.6vw;
}
main footer p>a{
    font-size: 1.3vw;
    text-decoration: none;

}