*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
#Store{
    width: 70%;
    min-height: 100%;
    margin: auto;
}
h1{
    color: red;
    font-style: italic;
    font-size: 60px;
    padding: 30px;
    text-align: center;
}
#shoes{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 32%;
    padding: 10px;
    transition: 1s;
    min-height: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.462);
}
.image{
    width: 100%;
    height: 75%;
    border-radius: 20px;
    overflow: hidden;
}
.image> img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.image> img:hover{
    scale: 1.2;
    transition: 0.6s;
}
.details{
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.cart-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 800;
}