* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;

}

main {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 0 3vw;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: space-between;
    /* background-color: #070707; */
}

nav #lnav {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    justify-content: space-between;
}

nav #lnav .lnav {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.lnav>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lnav>a {
    color: #000;
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
}

.lnav>i {
    font-size: 40px;
}

nav #rnav {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(207, 171, 127); */
}

#rnav button {
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: black;
}

#rnav #first-button {
    border: none;
    color: #000;
    background-color: transparent;
}

#page1 {
    width: 100%;
    padding: 0 4vw;
    height: calc(100% - 13vh);
    /* background-color: yellow; */
}

#page1 article {
    width: 100%;
    height: 70%;
    display: flex;
    margin-bottom: 3vw;
    align-items: center;
    justify-content: space-around;
    /* background-color: tomato; */
}

#page1 article>div {
    width: 45%;
    height: 100%;
    /* background-color: aqua; */
}

article #content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content h1 {
    font-size: 4vw;
    color: #0d0c22;
}

#content p {
    font-size: 1.5vw;
}

#content #button-section {
    width: 70%;
    height: 12%;
    display: flex;
    /* background-color: white; */
    justify-content: space-between;
}

#button-section button {
    width: 30%;
    height: 100%;
    font-size: 1em;
    font-weight: 600;
    border-radius: 50px;
    border-color: #3A3546;
}

#button-section #first-button {
    color: white;
    background-color: #3A3546;
}

#content #searh-box {
    width: 90%;
    height: 10%;
    display: flex;
    border-radius: 50px;
    align-items: center;
    transition: .4s all ease;
    background-color: aliceblue;
    justify-content: space-around;
}

#searh-box:focus {
    border: none;
    outline: none;
}

#content #searh-box:hover {
    outline: none;
    background-color: #F3F3F5;
    border: 2px solid #ed92a1;
}

#searh-box #search {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 50px;
    background-color: transparent;
}

#search:focus {
    border: none;
    outline: none;
}

#searh-box i {
    /* height: 100%;
    width: 10%; */
    padding: 5px;
    font-size: 1.7vw;
    border-radius: 100px;
    background-color: #ed92a1;
}

article>div>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px;
}

#content #bottom {
    width: 85%;
    height: 10%;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    justify-content: space-between;
}

#bottom span {
    font-weight: 600;
}

#bottom button {
    width: 18%;
    height: 80%;
    border-radius: 50px;
    border: 1px solid rgba(78, 76, 76, 0.122);
}

#page1>div {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: calc(100% - 80% - 3vw);
    background-color: #F8F8FC;
    /* justify-content: space-around; */
}

#page1>div a {
    color: #000;
    margin-left: 3vw;
    font-weight: 600;
    padding: 1vw 1.6vw;
    border-radius: 40px;
    text-decoration: none;
    border: 2px solid black;
}

#page1>div a div {
    top: -8px;
    right: -34px;
    font-size: 1vw;
    color: white;
    padding: 5px 10px;
    position: absolute;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #EA4C89;
}

#page1>div p {
    margin-left: 3vw;
    font-weight: 500;
    font-size: 1.1vw;
    /* background-color: #ed92a1; */
}

#page2 {
    width: 100%;
    padding: 0 4vw;
    min-height: 100%;
    /* background-color: #e5ea4c; */
}

#page2 nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: space-between;
}

#page2 nav button {
    width: 10%;
    height: 100%;
    font-size: 1.6vw;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.225);
}

#page2 nav #first-button {
    border-radius: 7px;
}

#page2 nav button:hover {
    transition: 1s all ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#page2 nav #link {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: tan; */
    justify-content: space-between;
}

#link a {
    height: 100%;
    color: #000;
    display: flex;
    font-size: 1vw;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
    justify-content: center;

}

#link a:hover {
    opacity: 0.5;
    transition: 1s all ease;
}

#page2 #image-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-bottom: 50px;
    justify-content: space-between;
    /* background-color: rgb(155, 63, 147); */
}

#image-section .image-container {
    width: 280px;
    margin: 10px;
    height: 240px;
    overflow: hidden;
    border-radius: 12px;
    display: inline-block;
    /* background-color: red; */
}

.image-container img,
video {
    scale: 1.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container>div {
    height: 35%;
    width: 100%;
    bottom: -35%;
    display: flex;
    padding: 0 5px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right bottom, transparent, rgba(0, 0, 0, 0.249));
}

.image-container>div h4 {
    color: white;
}

.image-container>div i {
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

.image-container:hover div {
    bottom: 0;
    transition: .5s all ease;
}
#page2>button{
    left: 50%;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 70px;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
    transform: translateX(-50%);
}
#page3 {
    margin-top: 10vh;
    width: 100%;
    height: 60vh;
    /* padding: 0 4vw; */
    /* background-color: #EA4C89; */
}
#page3 #image-scroll-div{
    height: 55%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: #33a523; */
    justify-content: space-between;
}
#image-scroll-div .container{
    height: 90%;
    width: 15vw;
    flex-shrink: 0;
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    justify-content: space-between;
    animation-name: scroll;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.container div{
    height: 90%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.container  img,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container  h5{
    height: 10%;
    padding: 5px;
    width: 100%;
    opacity: .5;
    font-size: 16px;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200%);
    }
}
#page3 footer{
    height: 40%;
    width: 100%;
    padding: 0 4vw;
    margin-top: 40px;
    /* background-color: yellow; */
}
footer #top-part{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    /* background-color: burlywood; */
}
#top-part img,div{
    width: 15%;
    height: 100%;
    display: flex;
    object-fit: cover;
    align-items: center;
    object-position: 0 70%;
    justify-content: space-evenly;
    /* background-color: #EA4C89; */
}
#top-part a , i{
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}
#top-part #top-mid-part{
    width: 60%;
    height: 100%;
}
footer #bottom-part{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #F3F3F5; */
}
footer #bottom-part div{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-between;
} 
#bottom-part div a{
    opacity: 0.7;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}